<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">为创业者而生</h2>
                    <h3 class="section-subheading text-muted">壹太极由多位企业家、风险投资人与太极传人、连续创业者何宇清老师联合发起创立。</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016年</h4>
                                    <h4 class="subheading">壹太极创立于北京</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        2016年年10月壹太极第一家馆落成开业，位于北京市中心，集禅学风格与现代审美于一身的太极空间。为创业者提供一个放松身心的场所，以一种有意义、自然的方式连接彼此。
                                       </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017年6月</h4>
                                    <h4 class="subheading">美国主流媒体新闻专访</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                       壹太极创办人何宇清先生接受美国主流电视台HBO和青年文化媒体Vice的专访，介绍传统太极拳，节目同期在境外视频网站视频播放量超过一千万次。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2018年</h4>
                                    <h4 class="subheading">开设海外教学点</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      壹太极先后在日本、澳洲、加拿大、瑞士建立了教学点，组织海外太极游学，也吸引了全球太极爱好者前来学习。累计接待和培训海外友人近六百人次。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018年</h4>
                                    <h4 class="subheading">与孔子学院总部合作</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      2018年壹太极受国家汉办、孔子学院总部委托为“欧洲孔子学院中方院长”提供传统太极拳培训。并长期服务于孔子学院来华留学生。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>快来成为
                                    <br>我们故事
                                    <br>的一部分!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
