<div class="full no-padding footer blue centered-text">
  <div class="two spacing"></div>
  <div class="row">
    <div class="small-12 columns">
          <p>Copyright © 壹太极YITAICHI 2019<p>
     
  </div>
  <div class="spacing"></div>
</div>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.superslides.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.validate.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/appear/jquery.appear.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/svg.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/cookie.js" | prepend: site.baseurl }}"></script>
<script async src="{{ "/js/lazyload.min.js" | prepend: site.baseurl }}"></script>

<script>
window.lazyLoadOptions = {
    elements_selector: ".lazy"
};
</script>
