  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 壹太极YITAICHI {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                       
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li> 
                          <a  style="color: #ffffff;" href="https://weibo.com/socmass" target="_blank">微博</a>
                        </li>
                        <li>
                          <a style="color: #ffffff;"  href="http://v.qq.com/vplus/c86c58051307858aa25e9827b38c171e?page=video" target="_blank">原创视频</a>
                        </li>
                         <li>
                          <a style="color: #ffffff;" href="https://www.ximalaya.com/zhubo/59167552/" target="_blank">喜马拉雅FM</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
