<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand page-scroll" href="#page-top"><img alt="壹太极" src="/img/logo.png"></a> 
             
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">课程介绍</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">学员展示</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">我们的故事</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">导师团队</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">联系</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://weibo.com/socmass">最新动态</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="http://v.qq.com/vplus/c86c58051307858aa25e9827b38c171e?page=video">原创视频</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">与优秀的人一起太极</div>
                <div class="intro-heading">TAICHI FOR FOUNDERS</div>
                <a href="#services" class="page-scroll btn btn-xl">从这里开始</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

