<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">欢迎来到为创始人开设的太极网站！</h2>
                    <h3 class="section-subheading text-muted">我们的使命是让创始人和初创公司一起学习和练习正念太极。教学重点是“易于理解”和“健康益处”。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                       
                    </span>
                    <h4 class="service-heading">运动处方太极</h4>
                    <p class="text-muted">
                    基于医学证据开发的心身调整方法。融合中国传统哲学、传统医学、传统气功学、传统太极所编创而成的医疗康复课程「汉方有氧运动」和「身体卡农」。为长期慢性病患的体力与生理负荷量所设计的运动，目标是调整自主神经系统、并增强体能。
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        
                    </span>
                    <h4 class="service-heading">传统杨式/陈式太极</h4>
                    <p class="text-muted">
                      壹太极所有老师都是传习传统陈式太极拳和传统杨式太极拳两派的正脉传人，为喜欢传统太极拳的朋友长期开设传统太极拳以及太极推手课程。大家可以根据个人偏好选择，我们将安排专业老师为您提供量身定制服务。
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i>极</i>
                    </span>
                    <h4 class="service-heading">企业家正念太极</h4>
                    <p class="text-muted">
                       这是我们专门为创业者举办的一个小组太极正念练习会。形式是一个40分钟的指导太极正念练习，然后15-30分钟的分享。该项目只对创业公司创始人开放。企业家的普遍问题是，焦虑、过劳。太极可以是一个非常有用的工具，它让你向内求索，身心同修。
                    </p>
                </div>
            </div>
        </div>
    </section>
